.page {
  width: 100%;
  height: 100%;

  &__container {
    width: 100%;
    max-width: rem($contentWidth);
    padding-top: rem($contentGutterHorizontal);
    padding-bottom: rem($contentGutterHorizontal);
  }

  &__content {

  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__col {
    flex-basis: 50%;
  }
}