$fontFamily: 'Inter';
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;

$fontSizeBase: 16px;
$fontSizeSmall: 18px;
$fontSizeSmallP: 20px;
$fontSizeMedium: 24px;
$fontSizeMediumP: 26px;
$fontSizeBig: 28px;
$fontSizeBigP: 32px;
$fontSizeLarge: 40px;
$fontSizeLargeP: 48px;
$fontSizeLargeE: 60px;
$fontSizeHuge: 80px;

$lineHeightSmall: 22px;
$lineHeightSmallP: 24px;
$lineHeightMedium: 29px;
$lineHeightMediumP: 31px;
$lineHeightBig: 34px;
$lineHeightBigP: 39px;
$lineHeightLarge: 48px;
$lineHeightLargeP: 58px;
$lineHeightLargeE: 73px;
$lineHeightHuge: 97px;

$contentWidth: 1440px;
$contentGutterHorizontal: 100px;

$dodgerBlue: #377DFF;
$shamrock: #2DCA8C;
$yellowOrange: #FFBE3D;
$Bittersweet: #FF715B;
$solitude: #E5F1FF;
$polar: #EAFAF3;
$pinkLady: #FFF2D8;
$mineShaft: #333333;
$osloGray: #858A8F;
$grayChateau: #AAB0B7;
$white: #FFFFFF;
$whisper: #F5F6FA;
$whisperDarker: #EDEEF6;
